body {
    font-family: "Open Sans", sans-serif;
}

@media(max-width 576px) {
    h1 {

        width: 590px;
        height: 82px;
        text-align: left;
    }

    footer p {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        color: #fff
    }
}

:root {
    --weight-regular: 400;
    --weight-bold: 700;
    --bg-color-pink: #e83e8c;
    --text-gray-color: #212529;
    --text-white-color: #fff;
    --info-color: #17a2b8;
}

.navbar {
    background-color: var(--bg-color-pink);
}

.footer {
    background-color: var(--bg-color-pink);
}

.navbar-brand img {
    height: 3.5rem;
}

.container {
    justify-content: center;

}

.card {
    margin: 1rem;
    padding: 0;
}

header h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #707070;
    margin-top: 6rem;
    text-align: center;
    font-size: 3rem;
    font-weight: var(--weight-bold)
}

main {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer img {
    height: 5.5rem;
    padding: 1rem;

}

.ico {
    display: flex;
    justify-content: center;
    height: 5.5rem;
    color: #fff;
    background-color: #17A2B8;
    width: 100%;
    padding: 1rem;
    font-size:2em

}

/* i {
    height: 70px;
    margin-top: 58px;
} */

